<html>
 <head>
    <meta charset="utf-8">
    <title>Flask</title>
  </head>
<body>
    <h3>Credit Card Species Classification</h3>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> Projet Wissem Farah </h1>
    <p> Flask is Fun </p>
    
    
<div>
  <form action="/predict" method="POST">
    <label for="balance">BALANCE</label>
    <input type="number" step="0.01" id="balance" name="balance">
    <br>
    <label for="balfre">BALANCE_FREQUENCY</label>
    <input type="number" step="0.01" id="balfre" name="balfre">
    <br>
    <label for="purchases">PURCHASES</label>
    <input type="number" step="0.01" id="purchases" name="purchases">
    <br>
    <label for="oopur">ONEOFF_PURCHASES</label>
    <input type="number" step="0.01" id="oopur" name="oopur">
    <br>
	<label for="inspur">INSTALLMENTS_PURCHASES</label>
    <input type="number" step="0.01" id="inspur" name="inspur">
    <br>
	<label for="cash">CASH_ADVANCE</label>
    <input type="number" step="0.01" id="cash" name="cash">
    <br>
	<label for="purfre">PURCHASES_FREQUENCY</label>
    <input type="number" step="0.01" id="purfre" name="purfre">
    <br>
	<label for="oopurfre">ONEOFF_PURCHASES_FREQUENCY</label>
    <input type="number" step="0.01" id="oopurfre" name="oopurfre">
    <br>
	<label for="purinsfre">PURCHASES_INSTALLMENTS_FREQUENCY</label>
    <input type="number" step="0.01" id="purinsfre" name="purinsfre">
    <br>
	<label for="cashadvfre">CASH_ADVANCE_FREQUENCY</label>
    <input type="number" step="0.01" id="cashadvfre" name="cashadvfre">
    <br>
	<label for="cashadvtrx">CASH_ADVANCE_TRX</label>
    <input type="number" step="0.01" id="cashadvtrx" name="cashadvtrx">
    <br>
	<label for="purtrx">PURCHASES_TRX</label>
    <input type="number" step="0.01" id="purtrx" name="purtrx">
    <br>
	<label for="credlimit">CREDIT_LIMIT</label>
    <input type="number" step="0.01" id="credlimit" name="credlimit">
    <br>
	<label for="pay">PAYMENTS</label>
    <input type="number" step="0.01" id="pay" name="pay">
    <br>
	<label for="minpay">MINIMUM_PAYMENTS</label>
    <input type="number" step="0.01" id="minpay" name="minpay">
    <br>
	<label for="prcfullpay">PRC_FULL_PAYMENT</label>
    <input type="number" step="0.01" id="prcfullpay" name="prcfullpay">
    <br>
	<label for="tenure">TENURE</label>
    <input type="number" step="0.01" id="tenure" name="tenure">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
</body>
</html>