<html>
 <head>
    <meta charset="utf-8">
    <title>Flask</title>
  </head>
<body>
    <h3>Credit Card Species Classification</h3>
    {% extends "template.html" %}
    {% block content %}
    
    <h1> My First Try Using Flask </h1>
    <p> Flask is Fun </p>
    
    
<div>
  <form action="/predict" method="POST">
    <label for="BALANCE">BALANCE</label>
    <input type="number" step="0.01" id="BALANCE" name="BALANCE">
    <br>
    <label for="BALANCE_FREQUENCY">BALANCE_FREQUENCY</label>
    <input type="number" step="0.01" id="BALANCE_FREQUENCY" name="BALANCE_FREQUENCY">
    <br>
    <label for="PURCHASES">PURCHASES</label>
    <input type="number" step="0.01" id="PURCHASES" name="PURCHASES">
    <br>
    <label for="ONEOFF_PURCHASES">ONEOFF_PURCHASES</label>
    <input type="number" step="0.01" id="ONEOFF_PURCHASES" name="ONEOFF_PURCHASES">
    <br>
	<label for="INSTALLMENTS_PURCHASES">INSTALLMENTS_PURCHASES</label>
    <input type="number" step="0.01" id="INSTALLMENTS_PURCHASES" name="INSTALLMENTS_PURCHASES">
    <br>
	<label for="CASH_ADVANCE">CASH_ADVANCE</label>
    <input type="number" step="0.01" id="CASH_ADVANCE" name="CASH_ADVANCE">
    <br>
	<label for="PURCHASES_FREQUENCY">PURCHASES_FREQUENCY</label>
    <input type="number" step="0.01" id="PURCHASES_FREQUENCY" name="PURCHASES_FREQUENCY">
    <br>
	<label for="ONEOFF_PURCHASES_FREQUENCY">ONEOFF_PURCHASES_FREQUENCY</label>
    <input type="number" step="0.01" id="ONEOFF_PURCHASES_FREQUENCY" name="ONEOFF_PURCHASES_FREQUENCY">
    <br>
	<label for="PURCHASES_INSTALLMENTS_FREQUENCY">PURCHASES_INSTALLMENTS_FREQUENCY</label>
    <input type="number" step="0.01" id="PURCHASES_INSTALLMENTS_FREQUENCY" name="PURCHASES_INSTALLMENTS_FREQUENCY">
    <br>
	<label for="CASH_ADVANCE_FREQUENCY">CASH_ADVANCE_FREQUENCY</label>
    <input type="number" step="0.01" id="CASH_ADVANCE_FREQUENCY" name="CASH_ADVANCE_FREQUENCY">
    <br>
	<label for="CASH_ADVANCE_TRX">CASH_ADVANCE_TRX</label>
    <input type="number" step="0.01" id="CASH_ADVANCE_TRX" name="CASH_ADVANCE_TRX">
    <br>
	<label for="PURCHASES_TRX">PURCHASES_TRX</label>
    <input type="number" step="0.01" id="PURCHASES_TRX" name="PURCHASES_TRX">
    <br>
	<label for="CREDIT_LIMIT">CREDIT_LIMIT</label>
    <input type="number" step="0.01" id="CREDIT_LIMIT" name="CREDIT_LIMIT">
    <br>
	<label for="PAYMENTS">PAYMENTS</label>
    <input type="number" step="0.01" id="PAYMENTS" name="PAYMENTS">
    <br>
	<label for="MINIMUM_PAYMENTS">MINIMUM_PAYMENTS</label>
    <input type="number" step="0.01" id="MINIMUM_PAYMENTS" name="MINIMUM_PAYMENTS">
    <br>
	<label for="PRC_FULL_PAYMENT">PRC_FULL_PAYMENT</label>
    <input type="number" step="0.01" id="PRC_FULL_PAYMENT" name="PRC_FULL_PAYMENT">
    <br>
	<label for="TENURE">TENURE</label>
    <input type="number" step="0.01" id="TENURE" name="TENURE">
    <br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
</body>
</html>